@import "../../assets/styles/theme_variables.scss";

.activity-graph {
    padding: 1.5rem;
    background-color: $wrapper-primary-color;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;

    .activity-title {
        color: $wrapper-lightest-white;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}