@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$wrapper-primary-color: $dark-slate-gray;
$wrapper-secondary-color: $very-dark-grayish-blue;

$wrapper-light-white: $very-light-gray;
$wrapper-blue-highlight: $bright-blue;

$wrapper-darkest-black: $black-color;
$wrapper-lightest-white: $white-color;
$wrapper-light-green: $light-green;
$wrapper-light-red: $light-red;