$dark-slate-gray: #1E1E2D;
$very-dark-grayish-blue: #25273D;
$very-light-gray: #F0F0F0;
$bright-blue: #4D5BFF;
$black-color: #000000;
$white-color: #ffffff;
$light-green: #37a648;
$light-red: #ef3e3e;